.vscode
node_modules
__pycache__
.idea
.ipynb_checkpoints

# Ignore all test or log data
**test**
**log**

# Ignore all simulation input/output data
simulation/*/**

# Ignore all folders in the airdata directory with some exceptions
airdata/*/**
!airdata/data/*.json

*.pdf
*.osm.pbf
*.rest
*.qgz
*.xml
*.bz2
*.gz
*.sumocfg
*.pem
