.vscode
node_modules
__pycache__
.idea
.ipynb_checkpoints

# Ignore all test or log data
**test**
matsim/osm-mapper/logs
debug

# Ignore all simulation input/output data
simulation/*/**

# Ignore all evaluation data
evaluation/*/**
evaluation/*.png

aws/*/**

# Ignore all folders in the airdata directory with some exceptions
airdata/*/**
!airdata/data/*.json
!airdata/data/*.geojson
airdata/*.png

*.pdf
*.osm.pbf
*.rest
*.qgz
*.xml
*.bz2
*.gz
*.sumocfg
*.pem
